<!-- <ng-include src="'partials/slider.html'" scope="" onload=""></ng-include> -->
<div id="mainBody">
	<div class="container">
		<div class="row">
			<ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>

			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="#/" data-i18n="_BTN_HOME_"></a> <span class="divider">/</span></li>
					<li class="active">{{'_TEXT_COMPAIR_' | i18n}}</li>
				</ul>
				<h3>
					{{'_TEXT_COMPAIR_' | i18n}}
				</h3>
				<hr class="soft" />
				<div class="alert alert-error" ng-hide="compairItems">There is no product to compair</div>
				<table id="compairTbl" class="table table-bordered" ng-show="compairItems">
					<thead>
						<tr>
							<th>Features</th>
							<th ng-repeat="item in compairItems">{{item.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td style="text-align: center" ng-repeat="item in compairItems">
								<p class="justify">{{item.description}}</p> <img src="{{item.url}}.jpg" alt="" />
								<div class="form-horizontal qtyFrm">
									<h3>${{item.price}}</h3>
									<br /> 
									<button ng-click="addToCart(item.id)" class="btn btn-large btn-primary"> 
										Add to <i class=" icon-shopping-cart"></i>
									</button>
									<a href="#/product_details/{{item.id}}" class="btn btn-large">
										<i class="icon-zoom-in"></i>
									</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>Height</td>
							<td ng-repeat="item in compairItems">{{item.details.height * 100}} mm</td>
						</tr>
						<tr>
							<td>Price</td>
							<td ng-repeat="item in compairItems">$ {{item.price}}</td>
						</tr>
						<tr>
							<td>Quantity</td>
							<td ng-repeat="item in compairItems">{{item.quantity}}</td>
						</tr>
						<tr>
							<td>Warranty</td>
							<td ng-repeat="item in compairItems">{{item.details.warranty}}</td>
						</tr>
						<tr>
							<td>Status</td>
							<td ng-repeat="item in compairItems">{{item.status}}</td>
						</tr>
					</tbody>
				</table>
				<a href="#/" class="btn btn-large pull-right">Back Products Page</a>
			</div>
		</div>
	</div>
</div>