<!-- <ng-include src="'partials/slider.html'" scope="" onload=""></ng-include> -->
<div id="mainBody">
    <div class="container">
        <div class="row">
            <ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> 
                        <span class="divider">/</span>
                    </li>
                    <li class="active">Products Name</li>
                </ul>
                <h3>
                    Filter
                </h3>
                <hr class="soft" />
                <form class="form-horizontal span6">
                    <div class="control-group">
                        <!-- Sort tren day luon -->
                        <label class="control-label alignL">Sort By</label>
                        <select ng-model="predicate">
                            <option value="+price">Increment Price</option>
                            <option value="-price">Decrement Price</option>
                            <option value="+name">Increment Name</option>
                            <option value="-name">Decrement Name</option>
                            <option value="+quantity">Increment Quantity</option>
                            <option value="-quantity">Decrement Quantity</option>
                        </select>
                    </div>
                    <div class="control-group">
                        <label class="control-label alignL">Filter by name</label>
                        <input ng-model="searchText.name">
                    </div>
                    <div class="control-group">
                        <label class="control-label alignL">Filter by price</label>
                        <input ng-model="searchText.price">
                    </div>
                    <div class="control-group">
                        <label class="control-label alignL">Filter by status</label>
                        <input ng-model="searchText.status">
                    </div>
                </form>



                <br class="clr" />
                <div class="tab-content">
                    <div class="tab-pane active" id="listView">
                        <div class="row" ng-repeat="item in listProducts | orderBy:predicate:reverse  | filter:searchText:strict">
                            <div class="span2">
                                <img src="themes/images/products/3.jpg" alt="" />
                            </div>
                            <div class="span4">
                                <h3>{{item.status}}</h3>
                                <hr class="soft" />
                                <h5>{{item.name}}</h5>
                                <p>{{item.description}}</p>
                                <a class="btn btn-small pull-right" href="#/product_details/{{item.id}}">
                                    View Details</a> 
                                <br class="clr" />
                            </div>
                            <div class="span3 alignR">
                                <div class="form-horizontal qtyFrm">
                                    <h3>${{item.price}}</h3>
                                    <br />
                                    <button class="btn btn-large btn-primary" ng-click="addToCart(item.id)">
                                        Add to <i class=" icon-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- 
                <div class="pagination">
                    <ul>
                        <li><a ng-click="prev()">&lsaquo;</a>
                        </li>
                        <li><a>{{currentPage}}</a>
                        </li>
                        <li><a ng-click="next()">&rsaquo;</a>
                        </li>
                    </ul>

                </div>
                Total: {{numberOfPages}} pages
                <br class="clr" /> -->
            </div>
        </div>
    </div>
</div>
