<ng-include src="'partials/slider.html'" scope="" onload=""></ng-include>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>

            <div class="span9">
                <h4>Latest Products</h4>
                <ul class="thumbnails">
                    <li class="span3" ng-repeat="item in listNewProduct" style="height: 500px;">
                        <div class="thumbnail">
                            <a href="#/product_details/{{item.id}}">
                                <img src="{{item.url}}" alt="" class="img-rounded" height="170"
									width="170"/>
                            </a>
                            <div class="caption">
                                <h5>{{item.name}}</h5>
                                <p>{{item.description}}</p>
                                <h4 style="text-align: center">
                                    <a class="btn" href="#/product_details/{{item.id}}">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    <button class="btn" ng-click="addToCart(item.id)">Add to
                                        <i class="icon-shopping-cart"></i>
                                    </button>
                                    <a class="btn btn-primary">{{item.price}}</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
