<ng-include src="'partials/slider.html'" scope="" onload=""></ng-include>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>

            <div class="span9">
               <!--  <div class="well well-small">
                    <h4>
                        Featured Products
                        <small class="pull-right">{{numberFea}} featured products
                        </small>
                    </h4>
                    <div class="row-fluid">
                        <div id="featured" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <i class="tag"></i> 
                                                <a href="product_details">
                                                    <img src="themes/images/products/b1" alt="">
                                                </a>
                                                <div class="caption">
                                                    <h5>Product name</h5>
                                                    <h4>
                                                        <a class="btn" href="product_details">VIEW</a> 
                                                        <span class="pull-right">$222.00</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <i class="tag"></i> 
                                                <a href="product_details">
                                                    <img src="themes/images/products/5" alt="">
                                                </a>
                                                <div class="caption">
                                                    <h5>Product name</h5>
                                                    <h4>
                                                        <a class="btn" href="product_details">VIEW</a> 
                                                        <span class="pull-right">$222.00</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#featured" data-slide="prev">&lsaquo;</a>
                            <a class="right carousel-control" href="#featured" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                </div> -->
                <h4>Latest Products</h4>
                <ul class="thumbnails">
                    <li class="span3" ng-repeat="item in listNewProduct" style="height: 450px;">
                        <div class="thumbnail">
                            <a href="#/product_details/{{item.id}}">
                                <img src="{{item.url}}" alt="" />
                            </a>
                            <div class="caption">
                                <h5>{{item.name}}</h5>
                                <p>{{item.description}}</p>
                                <h4 style="text-align: center">
                                    <a class="btn" href="#/product_details/{{item.id}}">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    <button class="btn" ng-click="addToCart(item.id)">Add to
                                        <i class="icon-shopping-cart"></i>
                                    </button>
                                    <a class="btn btn-primary">{{item.price}}</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
