<div id="mainBody">
    <div class="container">
        <div class="row">
            <ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> 
                        <span class="divider">/</span>
                    </li>
                    <li class="active">Orders</li>
                </ul>
                <h3>
                    List orders
                </h3>
                <hr class="soft" />
                <div class="alert alert-error" ng-hide="user">You must login first</div>

                <div class="tab-content">
                    <div class="tab-pane active" id="listView">
                        <table id="compairTbl" class="table table-bordered" ng-repeat="item in histories">
                            <thead>
                                <tr>
                                    <th>Order #{{$index}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Quantity</td>
                                    <td style="text-align: center">
                                        {{item.quantity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>PaymentStatus</td>
                                    <td style="text-align: center">
                                        {{item.paymentStatus}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>OrderDate</td>
                                    <td style="text-align: center">
                                        {{item.paymentDate | date:'dd/MM/yyyy'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>DeliveryDate</td>
                                    <td style="text-align: center">
                                        {{item.deliveryDate | date:'dd/MM/yyyy'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td style="text-align: center">
                                        {{item.status}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Total of order:</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="#viewOrderDetail" class="btn btn-primary" data-toggle="modal">
                                            View details <i class=" icon-search"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#cancelOrder" class="btn btn-danger" data-toggle="modal">
                                            Cancel this order
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br class="clr" />
            </div>
        </div>
    </div>
</div>


<div id="viewOrderDetail" class="modal hide fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Details</h3>
    </div>
    <div class="modal-body">
        <p>Details goes here</p>
        <!-- repeat here -->
        productId: amount
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="removeFromCart(selectedItem.id, selectedItem.index)" data-i18n="_BTN_OK_"></button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="_BTN_CANCEL_"></button>
    </div>
</div>

<div id="cancelOrder" class="modal hide fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure to cancel order?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="removeFromCart(selectedItem.id, selectedItem.index)" data-i18n="_BTN_OK_"></button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="_BTN_CANCEL_"></button>
    </div>
</div>