<!-- <ng-include src="'partials/slider.html'" scope="" onload=""></ng-include> -->
<div id="mainBody">
    <div class="container">
        <div class="row">
            <ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>

            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> 
                        <span class="divider">/</span>
                    </li>
                    <li class="active">SHOPPING CART</li>
                </ul>
                <h3>
                    SHOPPING CART [
                    <small>{{cart.length}} Item(s)</small>]
                    <a href="#/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i>
                     Continue Shopping </a>
                 </h3>
                 <hr class="soft" />

                 <!-- If you not login -->
                 <table class="table table-bordered" ng-show="false">
                    <tr>
                        <th>I AM ALREADY REGISTERED</th>
                    </tr>
                    <tr>
                        <td>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputUsername">Username</label>
                                    <div class="controls">
                                        <input type="text" id="inputUsername" placeholder="Username">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword1">Password</label>
                                    <div class="controls">
                                        <input type="password" id="inputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn">Sign in</button>
                                        OR <a href="register.html" class="btn">Register Now!</a>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <a href="forgetpass.html" style="text-decoration: underline">Forgot
                                           password ?</a>
                                       </div>
                                   </div>
                               </form>
                           </td>
                       </tr>
                   </table>
                   <!-- If you not login -->

                   <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Quantity/Update</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Tax</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart">
                            <td>
                                <img width="60" src="themes/images/products/4.jpg" alt="" />
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                                <div class="input-append">
                                    <input class="span1" style="max-width: 34px" placeholder="1" id="appendedInputButtons" size="16" type="text" ng-model="item.count">
                                    <button class="btn" type="button" ng-click="sub(item)">
                                        <i class="icon-minus"></i>
                                    </button>
                                    <button class="btn" type="button" ng-click="plus(item)">
                                        <i class="icon-plus"></i>
                                    </button>
                                    <a href="#removeProduct" class="btn btn-danger" role="button" data-toggle="modal" ng-click="confirmRemove(item.id, $index)">
                                        <i class="icon-remove icon-white"></i>
                                    </a>
                                </div>
                            </td>
                            <td>{{item.price | currency}}</td>
                            <td>$0</td>
                            <td>{{item.price * 0.1 | currency}}</td>
                            <td>{{item.price - 0 + (item.price * 0.1) | currency}}</td>
                        </tr>
                    </tbody>
                </table>


               <!--  <table class="table table-bordered">
                    <tr>
                        <th>ESTIMATE YOUR SHIPPING</th>
                    </tr>
                    <tr>
                        <td>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputCountry">Country</label>
                                    <div class="controls">
                                        <input type="text" id="inputCountry" placeholder="Country">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPost">Post Code/ Zipcode</label>
                                    <div class="controls">
                                        <input type="text" id="inputPost" placeholder="Postcode">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn">ESTIMATE</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table> -->
                <span>payment date</span>
                <input type="text" class="input-small" ng-model="bill.paymentDate" bs-datepicker>
                <span>deliverry date</span>
                <input type="text" class="input-small" ng-model="bill.paymentDelivery" bs-datepicker>
                <div class="alert alert-error" ng-hide="user">You must login first</div>
                <button class="btn btn-large btn-success pull-right" ng-click="checkOut()" ng-disabled="!user || cart.length == 0">
                <i class="icon-gift"></i>  Check out
                </button>
            </div>
        </div>
    </div>
</div>


<div id="removeProduct" class="modal hide fade in" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Confirm delete</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure to remove this product?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="removeFromCart(selectedItem.id, selectedItem.index)" data-i18n="_BTN_OK_"></button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="_BTN_CANCEL_"></button>
    </div>
</div>