<!-- <ng-include src="'partials/slider.html'" scope="" onload=""></ng-include> -->
<div id="mainBody">
	<div class="container">
		<div class="row">
			<ng-include src="'partials/sidebar.html'" scope="" onload=""></ng-include>
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a> 
						<span class="divider">/</span>
					</li>
					<li class="active">Registration</li>
				</ul>
				<h3>Registration</h3>
				<div class="well">
					<form class="form-horizontal">
						<h4>Your personal information</h4>
						<div class="control-group">
							<label class="control-label" for="inputFname1">First name <sup>*</sup>
							</label>
							<div class="controls">
								<input type="text" id="inputFname1" placeholder="First Name" required>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputLnam">Last name <sup>*</sup>
							</label>
							<div class="controls">
								<input type="text" id="inputLnam" placeholder="Last Name" required>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input_email">Email <sup>*</sup>
							</label>
							<div class="controls">
								<input type="email" id="input_email" placeholder="Email" required>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword1">Password <sup>*</sup>
							</label>
							<div class="controls">
								<input type="password" id="inputPassword1" placeholder="Password" required>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Date of Birth <sup>*</sup>
							</label>
							<div class="controls">
								<input type="text" class="input-small" ng-model="datepicker.from" bs-datepicker date-format="yyyy-mm-dd" value="{{ datepicker.from | date:'dd-MM-yyyy' }}">
							</div>
						</div>


						<h4>Your address</h4>

						<div class="control-group">
							<label class="control-label" for="address">Address<sup>*</sup>
							</label>
							<div class="controls">
								<input type="text" id="address" placeholder="Adress" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="mobile">Mobile Phone</label>
							<div class="controls">
								<input type="text" name="mobile" id="mobile" placeholder="Mobile Phone" />
							</div>
						</div>
						<div class="control-group">
							<p>
								<sup>*</sup>Required field
							</p>
							<input type="number" name="your_awesome_parameter" id="some_id" class="rating" />
							<i class='glyphicon glyphicon-star'></i>
						</div>
						<div class="control-group">
							<div class="controls">
								<input type="hidden" name="email_create" value="1">
								<input type="hidden" name="is_new_customer" value="1">
								<input class="btn btn-large btn-success" type="submit" value="Register" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>