<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
	<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
		<span class="icon-bar"></span> 
		<span class="icon-bar"></span> 
		<span class="icon-bar"></span>
	</a>

	<div class="navbar-inner">
		<a class="brand" href="#/">
			<img src="themes/images/logo.png" alt="Bootsshop" />
		</a>
		<div class="form-inline navbar-search">
			<!-- Search box-->
			<input id="srchFld" class="srchTxt" type="text" style="padding-left: 25px;"/>

			<!-- Select Category -->
			<select class="srchTxt">
				<option>All</option>
				<option>CLOTHES</option>
			</select>

			<button type="submit" id="submitButton" class="btn btn-primary" data-i18n="_BTN_GO_"></button>
		</div>
		<ul id="topMenu" class="nav pull-right">
			<li class=""><a href="#/special_offer" data-i18n="_NAV_SPECIAL_"></a></li>
			<li class=""><a href="#/contact" data-i18n="_NAV_CONTACT_"></a></li>

			<!-- Hide if user has loged in-->
			<li class="">
				<a href="#login" role="button" data-toggle="modal" style="padding-right: 0">
					<span class="btn btn-large btn-success" data-i18n="_BTN_LOGIN_"></span>
				</a>				
			</li>
		</ul>
	</div>
</div>


<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 data-i18n="_BTN_LOGIN_"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal loginFrm" action="j_spring_security_check" method="POST">
			<div class="control-group">
				<input type="text" id="inputEmail" placeholder="{{'_PLA_MAIL_' | i18n}}">
			</div>
			<div class="control-group">
				<input type="password" id="inputPassword" placeholder="{{'_PLA_PASS_' | i18n}}">
			</div>
			<div class="control-group">
				<label class="checkbox"> <input type="checkbox">{{'_LAB_REMEMBER_' | i18n}}</label>
			</div>
		</form>
		<button type="submit" class="btn btn-success" data-i18n="_BTN_LOGIN_"></button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="_BTN_CLOSE_"></button>
	</div>
</div>