<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3" ng-controller="productTypeCtrl">
	<div class="well well-small">
		<a id="myCart" href="#/product_summary">
			<img src="themes/images/ico-cart.png" alt="cart">
			{{cart.length}} {{'_BTN_CART_' | i18n}}
			<span class="badge badge-warning pull-right">{{cart.length}}</span>
		</a>
	</div>
	<ul id="sideManu" class="nav nav-tabs nav-stacked">
		<li class="subMenu open"><a>Camera</a>
			<ul>
				<li ng-repeat="item in listProductTypes">
					<a href="#/products/{{item.id}}">
						<i class="icon-chevron-right"></i>{{item.name}}
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- <br />
	<div class="thumbnail">
		<img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
		<div class="caption">
			<h5>Panasonic</h5>
			<h4 style="text-align: center">
				<a class="btn" href="product_details"> 
					<i class="icon-zoom-in"></i>
				</a>
				<a class="btn" href="#">{{'_BTN_ADD_' | i18n}}
					<i class="icon-shopping-cart"></i>
				</a>
				<a class="btn btn-primary" href="#">$222.00</a>
			</h4>
		</div>
	</div>
	<br />
	<div class="thumbnail">
		<img src="themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
		<div class="caption">
			<h5>Payment Methods</h5>
		</div>
	</div> -->
</div>
<!-- Sidebar end=============================================== -->